.vs/
out/
x64/
Debug/
Release/
*.user
/AulasC/AulasC.vcxproj
/AulasC/AulasC.vcxproj.filters
/AulasC/aula19.5/aula19.5/aula19.5.vcxproj
/AulasC/aula19.5/aula19.5/aula19.5.vcxproj.filters
/Final/ui_config.json
/Final/Final.vcxproj.filters
/Final/Final.vcxproj
